.card{
    width: 350px;
    border: 1px solid rgb(80, 72, 72);
    border-radius: 10px;
}
.card:hover{
    border-color: orangered;
}
.card-img{
    padding: 10px;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card-info{
    padding: 0 12px;
}
.card-btn{
    width: 100%;
    border: none;
    border-radius: 0 0 10px 10px;
    background-color: rgba(255, 68, 0, 0.089);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-btn:hover{
    background-color: orangered;
    color: white;
}